<tr>
  <td width="30%" style="border-right:1px solid; height:35px;">-</td>
  <td width="70%">-</td>
</tr>
</table>
</td>
<td width="10%" style="border-top:1px solid; border-right:1px solid; text-align:center; height:30px;">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="30%" style="border-right:1px solid; height:35px;">-</td>
      <td width="70%">-</td>
    </tr>
  </table>
</td>
<td width="10%" style="border-top:1px solid;  text-align:center; height:35px;">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td width="30%" style="border-right:1px solid; height:35px;">18%</td>
      <td width="70%">{{customer.igst}}</td>
    </tr>
  </table>
</td>
<td width="8%" style="border-top:1px solid; border-left:1px solid;  text-align:center; height:30px;">{{customer.amount|add:customer.igst}}</td>