{% load num_words %}
<table class="table1">
<tr>
<th>S.No.</th>
<th>Item Description</th>
<th>SAC Code</th>
<th>Qty</th>
<th>Rate/Item</th>
<th>Taxable Amt</th>
<th>IGST rate</th>
<th>IGST Amt</th>
<th> Round off</th>
<th>Total</th>
</tr>
<tr>
<th>1.</th>
<th>{{customer.purpose_of_payment}}</th>
<th>999512</th>
<th>1</th>
<th>{{customer.amount}}</th>
<th>{{customer.amount}}</th>
<th>18%</th>
<th>{{customer.igst}}</th>
<th>0.00</th>
<th>{{customer.amount|add:customer.igst}}</th>
</tr>
</table>
<table class="table2">
    <tr>
    <th>Taxable Amount</th>
    <th>{{customer.amount}}</th>
    </tr>
    <tr>
    <th>Total Tax</th>
    <th>{{customer.igst}}</th>
    </tr>
    <tr>
    <th>Round Off</th>
    <th>0.00</th>
    </tr>
    <tr>
    <th>Invoice Total(In figure)</th>
    <th>{{customer.amount|add:customer.igst}}</th>
    </tr>
    </table>