{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ICSI IIP Registration</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "registration/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container" style="margin-top:-30px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="{% static "registration/icsiiiplogo.png" %}" />
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container" style="margin-bottom:25px;"  >

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>ICSI-IIP Online Payments</h3><hr />                
            </div>
        </div>
        <!-- /.row -->        
        <div class="container" style="max-width:100%;">
            <div class="row" style="margin-left:100px;">                
                <div class="col-md-8" style="max-width:450px;">
                    {% if error %}
                        <p style="color:red;">{{error}}</p>
                    {% endif %}
                        <form action="." method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="row" style="margin-bottom:5px; padding-bottom: 5px; border-bottom: 1px solid #0F0F0F;">
                                <div class="col-md-6">
                                    <strong>{{field.label|title}}</strong>
                                </div>
                                <div class="col-md-6">
                                    {% if field.label == "Gstin" %}                                    
                                        <select name="gstin-na" class="form-control" style="max-width:75px;" id="gstinna">
                                            <option value="na">NA</option>
                                            <option value="yes">Yes</option>
                                        </select>                                        
                                        <span>{% render_field field class="form-control" disabled=True placeholder=field.label %}</span>
                                    {% else %}                                    
                                        <span>{% render_field field class="form-control" placeholder=field.label %}</span>
                                    {% endif %}
                                </div>
                            </div>            
                            {% endfor %}
                            <br /><center><input type="submit" value="Submit Form and Proceed to payment gateway" name="submit1" /></center>
                        </form>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Schedule of Fees</h4><hr />
                    {% for each in pt %}
                    <p><strong>{{each.name}}</strong><br />
                    {{each.description|safe}}<br />
                    Fees: ₹{{each.fees}} | GST Applicable: ₹{{each.gst_amount}} (18%)
                    </p><hr />
                    {% endfor %}
                    <h4 class="text-center">GST Inputs</h4><hr />
                    <p>1. GST input can be claimed by only individuals, non individual GSTIN numbers will not be accepted by the system, in case accepted, non individual GSTIN will not be given input.</p>
                    <p>2. GST number has to submitted at the time of registration, request for GST Input and revised returns will not be entertained once the payment is done.</p>
                    <p>3. By not filling up the GSTIN field, it is deemed that the applicant does not want to claim GST input or is not registered under GST. Requests or GST input and revised returns will not entertained once the payment is done in such cases.</p>
                    
                </div>
            </div>
        
        </div>        
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="{% static "registration/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "registration/js/bootstrap.min.js" %}"></script>

    <script type="text/javascript">
    $("#gstinna").on("click", function(){
        if($("#gstinna").val() == "na"){
            $("#id_gstin").prop("disabled", true);            
            $(this).unbind('change');
        }else{
            $("#id_gstin").prop("disabled", false);            
            $(this).unbind('change');
        }
    });
    </script>

</body>

</html>
